services:
  postgres:
    image: postgres:16.9-alpine3.22
    container_name: postgres-shorturl
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: root
      POSTGRES_DB: shorturl_db
      POSTGRES_USER: devuser
      POSTGRES_PASSWORD: devpass
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data: