services:
  mariadb:
    image: mariadb:11
    container_name: mariadb-shorturl
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: shorturl_db
      MARIADB_USER: devuser
      MARIADB_PASSWORD: devpass
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: