server.port: 8080

spring:
  application:
    name: shorturl

  datasource:
    url: jdbc:mariadb://localhost:3306/shorturl_db
    username: devuser
    password: devpass
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
