server.port: 8080

spring:
  application:
    name: shorturl

  datasource:
    url: jdbc:postgresql://localhost:5432/shorturl_db
    username: devuser
    password: devpass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
